@charset "UTF-8";

/*Estilo para Telas*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: #2D2440;
    color: white;
}

header {
    background-image: linear-gradient(to bottom, #652A8C, #2D2440);
    padding: 20px;
}

header>h1 {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 3em;
}

i#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: block;
    background-color: #a284bf64;
    border-radius: 20px;
    width: 50vw;
    margin: auto;
}

menu:hover{
    background-color: #a284bfd5;
}

menu ul {
    display: none;
    list-style-type: none;
}

menu li {
    background-color: #411F8C;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.66);
}

menu li:hover {
    background-color: #5321BF;
    border-radius: 0px;
    cursor: pointer;
}


main {
    background-color: #a284bfe3;
    padding: 20px;
}

article {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.455);
    margin-bottom: 1.5em;
}

article>h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

article>p {
    line-height: 1.5em;
    margin-bottom: 8px;
    text-indent: 20px;
    font-size: large;
    text-align: justify;
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    /*Old-Mobile*/

    article>h2 {
        font-size: 1.6em;
    }

    article {
        padding: 10px;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.455);
        margin-bottom: 1.5em;
    }

    article>p {
        text-indent: 10px;
        text-align: left;
    }
}

@media screen and (min-width: 730px) {
    /*Desktop*/

    i#burguer {
        display: none;
    }

    menu {
        background-color: #a284bf00;
        width: 60vw;
    }

    menu ul {
        display: block;
    }


    menu ul {
        text-align: center;
    }

    menu li {
        background-color: #411F8C;
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
        margin-right: 10px;
    }

    main {
        margin: auto;
        width: 50vw;
        border-radius: 20px;
    }


    article>p {
        font-size: larger;
        line-height: 2em;
    }
}