@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #00BBC9 50%, #00747C);
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(1, 91, 96, 0.6); /* */
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #00747C;
}

h2 {
    color: #00BBC9;
}

p {
    text-align: justify;
}