@charset "UTF-8";

* {
            margin: 0px;
            padding: 0x;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }  

        img {
            width: 100vw;
        }

        a {
            display: block;
            color: white;
            padding: 20px;
            background-color: darkred;
            font-weight: bolder;
            text-align: center;
            text-decoration: none;
        }
        
        a:hover {
            background-color: red;
        }