@charset "UTF-8"; /*diz ao browser que o stylesheet usa caracteres UTF-8*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body { /*garantir que a "box" raiz do site tenha uma altura definida, permitindo que o body e filhos consigam se expandir corretamente.*/
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imgs/fundo-madeira.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imgs/frame-iphone.png) no-repeat;
}