@charset "UTF-8"; /*diz ao browser que o stylesheet usa caracteres UTF-8*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: url(../imgs/fundo-madeira.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}

main {
    position: relative;
    height: 100vh;
    width: 98vw;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imgs/frame-iphone.png) no-repeat;
}

iframe#screen {
    position: relative;
    top: 79px;
    left: 22px;
    width: 267px;
    height: 473px;
}

section#social-medias {
    text-align: right;
}

section#social-medias img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.409);
    box-sizing: border-box;
}

section#social-medias img:hover {
    border: 2px solid rgba(255, 255, 255, 0.606);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.409);
    transition: transform .2s, border .3s;
}

div#footer{
    background-color: rgba(255, 255, 255, 0.696);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 10px 20px 10px 20px;
    max-width: 300px;
}
div#footer > p {
    color: rgb(0, 0, 0);
}

div#footer a {
    text-decoration: none;
    font-weight: bold;
}

div#footer #name{
    color: rgb(254, 139, 24);
}
div#footer #name:hover{
    color: rgb(221, 121, 21);
}

div#footer #course{
    color: rgb(52, 191, 247);
}
div#footer #course:hover{
    color: rgb(42, 156, 201);
}