/* Seletores (#) e (.) */

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

#title { /*Precedência maior para seletores especiais.*/
    font: bold 3em Arial, sans-serif;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 6px;
}

h2 {
    font: bold 2em Arial, sans-serif;
    color: green;
}

h3 {
    font: bold 2em Arial, sans-serif;
    text-align: right;
    color: rgb(33, 185, 2);
}

p {
    font: 1em Verdana, sans-serif;
}

/* Pseudo-classes e Pseudo-elementos */
    /* Exemplos:

    Especificam um estado especial:
    :visited, :active, :checked, :empty, :focus

    Formatam um pedaço especifico de elemento:
    ::before ::after ::first-letter ::first-line*/

h1 {
    font: 2em Arial, sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

a:visited {
    color: darkblue;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

.especial:hover {
    color: white;
    background-color: darkblue;
    text-decoration: none;
}

.especial::before {
    content: '>>';
    font-weight: lighter;
}

.especial::after {
    content: '<<';
    font-weight: lighter;
}

div > p { /* > = children*/
    display: none;
}

div:hover > p {
    display: block;
    background-color: yellow;
    text-align: center;
}