@charset "UTF-8";

@media screen and (min-width: 992px) {

    :root {
        --background-main: #B89872;
        --background-fade: #1C150B;
        --background-card: #ffffff;
        --shadow-color: rgba(0, 0, 0, 0.253);
        --input-border: #ccccccf5;
        --input-focus: #BF9A78;
        --button-bg: #BF9A78;
        --button-text: #ffffff;
        --button-shadow: rgba(0, 0, 0, 0.289);
        --recovery-link: #BF9A78;
    }

    body {
        background-image: linear-gradient(to bottom, var(--background-main) 8%, var(--background-fade) 98%);
    }

    section.login-card {
        min-width: 960px;
        height: 365px;
        text-align: right;
    }

    div.img {
        display: inline;
        width: min-content;
        height: auto;
        margin-bottom: 9px;
    }

    div.img>img {
        width: 480px;
        height: 365px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 0px;
    }

    div.text-login {
        padding: 0px 18px 5px;
        position: absolute;
        left: 12%;
        top: 10%;
    }

    div.text-login>h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 9px;
    }

    div.text-login>p {
        font-size: 1em;
        text-align: center;
    }

    div.form {
        margin: auto;
    }

    input#iEmail,
    input#iPass {
        border: none;
        outline: none;
        border-bottom: 2px solid var(--input-border);
        padding: 0px 8px 12px;
        width: 226px;
        height: 25px;
    }
}